<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Mood'Chat</title>
    <link rel="stylesheet" href="/static/css/page.css">
    <link rel="icon" type="image/png" href="/static/pictures/favicon.png" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script alt="JQuery Library" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var FullBodyHeight = function() {
                $('body').css('height', window.innerHeight);
                $('#msg').css('height', window.innerHeight - 100);
            }
            setInterval(FullBodyHeight, 0);
        });

    </script>
</head>

<body>
    <header>
        <a href="/static/index.html" id="logo_home"><img src="/static/pictures/LOGO-moodchat.png" alt="logo" id="logo"></a>
        <div id='user'></div>
        <a href="/static/index.html" id="disconnect"><img src="/static/pictures/power.png" alt="disconnect" id="power"></a>
    </header>

    <section id="msg">
        <article id="section-left">

            <h1>Design</h1>

            <ul id="first-column">
                <li><img src="/static/pictures/small-light.jpg" alt="light" id="light" class="hvr-icon-shrink"><br>
                    <p class="theme">Light</p>
                </li>
                <li><img src="/static/pictures/small-sea.jpg" alt="Sea" id="sea" class="hvr-icon-shrink"><br>
                    <p class="theme">Sea</p>
                </li>
                <li><img src="/static/pictures/small-galaxy.jpg" alt="Space" id="space" class="hvr-icon-shrink"><br>
                    <p class="theme">Space</p>
                </li>
            </ul>

            <ul id="second-column">
                <li><img src="/static/pictures/small-black.png" alt="Dark" id="dark" class="hvr-icon-shrink"><br>
                    <p class="theme">Dark</p>
                </li>
                <li><img src="/static/pictures/small-jungle.jpg" alt="Jungle" id="jungle" class="hvr-icon-shrink"><br>
                    <p class="theme">Jungle</p>
                </li>
                <li><img src="/static/pictures/small-savana.jpg" alt="Savana" id="savana" class="hvr-icon-shrink"><br>
                    <p class="theme">Savana</p>
                </li>
            </ul>

            <h2>Color</h2>

            <ul id="first-line">
                <li>
                    <div class="color" id="red"></div>
                </li>
                <li>
                    <div class="color" id="orange"></div>
                </li>
                <li>
                    <div class="color" id="yellow"></div>
                </li>
                <li>
                    <div class="color" id="green"></div>
                </li>
                <li>
                    <div class="color" id="turquoise"></div>
                </li>
                <li>
                    <div class="color" id="light-blue"></div>
                </li>
                <li>
                    <div class="color" id="blue"></div>
                </li>
                <li>
                    <div class="color" id="dark-blue"></div>
                </li>

            </ul>
            <ul id="second-line">
                <li>
                    <div class="color" id="dark-blue1"></div>
                </li>
                <li>
                    <div class="color" id="purple"></div>
                </li>
                <li>
                    <div class="color" id="light-purple"></div>
                </li>
                <li>
                    <div class="color" id="pink"></div>
                </li>
                <li>
                    <div class="color" id="light-pink"></div>
                </li>
                <li>
                    <div class="color" id="dark-color"></div>
                </li>
                <li>
                    <div class="color" id="grey"></div>
                </li>
                <li>
                    <div class="color" id="white"></div>
                </li>

            </ul>

        </article>
        <article id="section-right">
            <ul id="chat"></ul>
            <div id="gif">
                <ul></ul>
            </div>
            <div id="emoji">
                <ul class="emoji-list">
                    <li id="emoji1"><p>😀</p></li>
                    <li id="emoji2"><p>😃</p></li>
                    <li id="emoji3"><p>😄</p></li>
                    <li id="emoji4"><p>😁</p></li>
                    <li id="emoji5"><p>😆</p></li>
                    <li id="emoji6"><p>😅</p></li>
                </ul>
                <ul class="emoji-list">
                    <li id="emoji7"><p>😂</p></li>
                    <li id="emoji8"><p>🤣</p></li>
                    <li id="emoji9"><p>😊</p></li>
                    <li id="emoji10"><p>😇</p></li>
                    <li id="emoji11"><p>🙂</p></li>
                    <li id="emoji12"><p>😉</p></li>
                </ul>
                <ul class="emoji-list">
                    <li id="emoji13"><p>😍</p></li>
                    <li id="emoji14"><p>😘</p></li>
                    <li id="emoji15"><p>😗</p></li>
                    <li id="emoji16"><p>😙</p></li>
                    <li id="emoji17"><p>😋</p></li>
                    <li id="emoji18"><p>😜 </p></li>
                </ul>
                <ul class="emoji-list">
                    <li id="emoji19"><p>😝</p></li>
                    <li id="emoji20"><p>🤓</p></li>
                    <li id="emoji21"><p>😎</p></li>
                    <li id="emoji22"><p>😏</p></li>
                    <li id="emoji23"><p>😯</p></li>
                    <li id="emoji24"><p>😲</p></li>
                </ul>
                <ul class="emoji-list">
                    <li id="emoji25"><p>😱</p></li>
                    <li id="emoji26"><p>😨</p></li>
                    <li id="emoji27"><p>😰</p></li>
                    <li id="emoji28"><p>😢</p></li>
                    <li id="emoji29"><p>😭</p></li>
                    <li id="emoji30"><p>😴</p></li>
                </ul>


            </div>
            <article id="text">
                <input value="" name="chat_message" type="text" placeholder="Your mesasge ..." />
                <div id="button">
                    <button id="button-gif"></button>
                    <button id="button-emoji"></button>
                    <button id="button-send"></button>
                </div>
            </article>
        </article>
    </section>

    <script src="../static/js/script_chat.js"></script>
</body>

</html>
