* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Gotham-Light";
    src: url(/static/font/Gotham-Light.otf);
}

@font-face {
    font-family: "Gotham-Medium";
    src: url(/static/font/Gotham-Medium.otf);
}
main{
    width: 1920px;
    height: 1080px;
    position: relative;
    
}
header {
    height: 12.6%;
    width: 100%;
    background-color: #faf7f7;
    
    
}
#logo {
    height: auto;
    width: 11%;
    margin-left: 2.1%;
    margin-top: 1%;
    float: left;
}
#user {
    width: 3.6%;
    height: auto;
    float: left;
    margin-top: 1.8%;
    margin-left: 2.5%;
}
#name {
    float: left;
    color: #ffba00;
    font-family: gotham-light;
    font-size: 290%;
    margin-top: 2.1%;
    margin-left: 1.4%;
}
#section-left{
   
    height: 87.5%;
    width: 21.7%;
    background-color: #f0f0f0;
    float: left;
}
#section-right{
    
    float: left;
    height: 80%;
    width: 78.3%;
    background-image: url(/static/pictures/light.jpg);
}
input{
    border: none;
    float: left;
    height: 80px;
    width: 68.8%;
    padding-left: 1%;
    font-family: gotham-light;
    font-size: 110%;
}
#button {
    width: 8.5%;
    height: 80px;
    float: left;
}
#button-emoji{
    width: 41px;
    height: 41px;
    margin-top: 20px;
    margin-right: 15px;
    background-image: url(/static/pictures/Group%201.png);
    background-color: white;
    border: none;
}
#emoji{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 8%;
    right: 5%;
    display: none;
}
.emoji-list{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 10px;
}
.emoji-list li{
    display: inline-block;
}
.emoji{
    width: 25px;
    height: 25px;
    margin: 5px;
}
#button-send{
    width: 51px;
    height: 36px;
    background-image: url(/static/pictures/Path%201.png);
    background-color: white;
    border: none;
}
h1{
    font-family: gotham-light;
    color: #ffba00;
    font-size: 35px;
    margin-left: 8%;
    margin-top: 14%;
    margin-bottom: 8%;
}
#first-column{
    float: left;
    margin-left: 8%;
    list-style-type: none;
}
#second-column{
    float: left;
    margin-left: 4%;
    list-style-type: none;
}
ul li img{
    margin-left: -7px;
    width: 105%;
    height: auto;
}
.theme{
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: gotham-light;
}
h2{
    font-family: gotham-light;
    color: #ffba00;
    font-size: 35px;
    margin-left: 8%;
    margin-top: 90%;
    margin-bottom: 8%;
}
#first-line{
    list-style-type: none;
    margin-left: 8%;
    
}
#first-line li{
    display: inline-block;
}
#second-line{
    list-style-type: none;
    margin-left: 8%;
    
}
#second-line li{
    display: inline-block;
}
.color{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-top: 6px;
    border-radius: 25px;
    border: solid 2px white;
}
.color:hover{
    border-color: #ffba00;
}
#red{
    background-color: #ff0000;
}
#orange{
    background-color: #ffa700;
}
#yellow{
    background-color: #ffeb00;
}
#green{
     background-color: #45ff00;
}
#turquoise{
     background-color: #00ffb1;
}
#light-blue{
     background-color: #00fff5;
}
#blue{
     background-color: #00d8ff;
}
#dark-blue{
     background-color: #0089ff;
}
#dark-blue1{
     background-color: #2700ff;
}
#purple{
     background-color: #9d00ff;
}
#light-purple{
     background-color: #e200ff;
}
#pink{
     background-color: #ff00a7;
}
#light-pink{
    background-color: #ff98db;
}
#dark-color{
     background-color: #000000;
}
#grey{
     background-color: #9b9b9b;
}
#white{ 
    background-color: #ffffff;
}
